<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>List Music</h3>

<button><a href="music/create">Create New</a></button>
<table border="1px">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Singer</th>
    <th>Category</th>
    <th colspan="2">Positions</th>
  </tr>
  <tr th:each="musicList :${musicList}">
    <td th:text="${musicList.codeSong}"></td>
    <td th:text="${musicList.nameSong}"></td>
    <td th:text="${musicList.singer}"></td>
    <td th:text="${musicList.category}"></td>
    <td><button><a th:href="@{/music/delete/{codeSong}(codeSong = ${musicList.codeSong})}">Delete</a></button></td>
    <td><button><a th:href="@{/music/edit/{codeSong}(codeSong = ${musicList.codeSong})}">Edit</a></button></td>
  </tr>
</table>
</body>
</html>