<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Borrow</h1>
<form action="/book/doBorrow" method="post">
    <table border="1">
        <input type="hidden" name="id" th:value="${bookId.idBook}">
        <tr>
            <td>
                Contents
            </td>
            <td th:text="${bookId.content}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Borrow"></td>
            <td><input type="text" name="code"></td>
        </tr>
<!--        <tr>-->
<!--            <td></td>-->
<!--        </tr>-->
    </table>
</form>
</body>
</html>