<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Add New Person
</h1>
<form action="/book/doCreatePerson" method="post" th:object="${person}">
    <table border="1">
        <tr>
            <td>
                Name Person
            </td>
            <td>
                <input type="text" th:field="*{namePerson}">
            </td>
        </tr>
        <tr>
            <td>
                YearOfBirth
            </td>
            <td>
                <input type="text" th:field="*{yearOfBirth}">
            </td>
        </tr>
        <tr>
            <td>
                PhoneNumber
            </td>
            <td>
                <input type="text" th:field="*{phoneNumber}">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>