<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/product/doCreate" method="post" th:object="${product}">
    <table>
<!--      <tr>-->
<!--        <td><label>ID Product</label></td>-->
<!--        <td><input type="text" th:field="*{idProduct}"></td>-->
<!--      </tr>-->
      <tr>
        <td><label>Name Product</label></td>
        <td><input type="text" th:field="*{nameProduct}"></td>
      </tr>
      <tr>
        <td><label>Price Product</label></td>
        <td><input type="text" th:field="*{priceProduct}"></td>
      </tr>
      <tr>
        <td><label>Description</label></td>
        <td><textarea th:field="*{description}"></textarea></td>
      </tr>
      <tr>
        <td><td><label>Producer</label></td>
        <td><input type="text" th:field="*{producer}"></td></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit"></td>
        <td><input type="reset" value="Reset"></td>
      </tr>
    </table>
  </form>
</body>
</html>