<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.bundle.min.js"></script>
    <style>
        * {
            margin: 0px;
        }

        #header {
            background-image: url("/z4096686608201_89d7ce9d78912b7013b5b5c2a828572c.jpg");
            height: 200px;
            width: 100%;
        }

        #header h1 {
            padding: 50px;
        }


        #footer {
            background-color: #EEEEEE;
            padding: 30px;
            height: 100px;
            width: 100%;
            clear: both;
        }
    </style>
</head>
<body>
<div id="header">
    <h1 style="text-align: center">RESORT FURAMA</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Options</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/furama/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/furama/create">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Employee</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="body">
        <h1 style="text-align: center; font-family: Algerian">List Customer</h1>
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DayOfBirth</th>
                <th>Gender</th>
                <th>IdCard</th>
                <th>PhoneNumeber</th>
                <th>CustomerType</th>
                <th>Delete</th>
            </tr>
            <tr th:each="customer :${listCustomer}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.nameCustomer}"></td>
                <td th:text="${customer.dayOfBirth}"></td>
                <td th:text="${customer.gender}"></td>
                <td th:text="${customer.idCard}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.customerType.nameCustomerType}"></td>
                <td>
                    <button class="btn btn-primary"><a style="color: white; text-decoration: none" th:href="@{/furama/deleteCustomer/{id}(id = ${customer.id})}">Delete</a></button>
                </td>
            </tr>
        </table>
</div>
<div id="footer">
    <p style="text-align: center">© 2023 FuramaResort, Inc</p>
</div>

</body>
</html>